/* @charset"UTF-8": */

/*すべてのwebページに適用される*/
html {
  font-family: "sans-serif";
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background-color: #fffafc;
  color: #736d6a;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}
h2 {
  color: #474444;
  font-size: 18px;
  border-bottom: 3px dotted #736d6a;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
p {
  line-height: 1.6;
  font-size: 13px;
  color: #736d6a;
}
a {
  text-decoration: none;
}
a:link {
  color: #333;
}
a:visited {
  color: #333;
}
a:hover {
  color: #838383;
}
a:active {
  color: #838383;
}

.header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 24px 6%;
  background-color: #f7f7f7;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  padding: 10px;
}

.header-title-wrapper {
  text-align: left;
}

.title-wrapper {
  color: white;
}

.title {
  font-size: 1.4rem;
}

.sub-title {
  font-size: 0.6rem;
}

.title-content-wrapper {
  position: absolute;
  top: 12rem;
  left: 0;
  right: 0;
  color: white;
  margin-top: 4rem;
}

.title-button-wrapper {
  margin-top: 2rem;
  height: 40px;
}

.title-button {
  display: block;
  margin: auto;
  width: 10rem;
  padding: 10px;
  color: #fff !important;
  text-align: center;
  letter-spacing: 0.1rem;
  text-decoration: none;
  border: 1px solid white;
}

img {
  max-width: 100%;
  height: auto;
}

.link {
  display: flex;
  width: 100px;
  height: 100px;
  margin: auto;
}

/* すべてのページに適用 - ヘッダー - */

.logo {
}

.nav li {
  display: inline;
  list-style-type: none;
  padding-right: 30px;
}
.nav ul {
  margin: 0 0 0 0;
  padding: 20px 10px 15px 20px;
  background-image: url(../images/0menu-bg.png);
  background-repeat: repeat-x;
}
.nav a:link {
  color: #3c454d;
  text-decoration: none;
}
.nav a:visited {
  color: #3c454d;
  text-decoration: none;
}
.nav a:hover {
  color: #7b8dac;
  text-decoration: none;
}
.nav a:active {
  color: #5a9bc0;
  text-decoration: none;
}

/* すべてのページに適用 - フッター - */
.footer {
  background-image: url(../images/0footer-bg.png);
  background-repeat: repeat-x;
  margin: 0 0 0 0;
  padding: 20px 10px 15px 20px;
  font-size: 10px;
  color: #3f5170;
}

.wrapper {
  margin: 0 auto 0 auto;
  overflow: hidden;
}

/* 個別のスタイル */
.bx-wrapper {
  background: none !important;
  border-color: #f4dfdc !important;
  border: none !important;
  margin-bottom: 0 !important;
  padding-top: 6rem !important;
}

.bx-viewport {
  height: 23rem !important;
}

.bx-wrapper img {
  height: 23rem !important;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: 13px !important;
}

.top-info {
  background: white;
  height: 38rem;
}

.top-info-title-wrapper {
  padding-top: 2rem;
  text-align: left;
  font-size: 1.2rem;
  line-height: 32px;
}

.top-info-content {
  width: 80%;
  margin: auto;
}

.content {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: left;
}

.content-text {
  margin-top: 1rem;
}

.top-content-button-wrapper {
  margin-top: 2rem;
}

.top-content-button {
  display: block;
  margin: auto;
  width: 12rem;
  padding: 10px !important;
  text-align: center;
  letter-spacing: 0.1rem;
  text-decoration: none;
  border: 1px solid #333;
}
.diagnose-wrapper {
  width: 80%;
  margin: auto;
  position: relative;
}

.diagnose-title {
  font-size: 2em;
  text-align: left;
  padding-top: 2rem;
}

.diagnose-image {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: -44px;
  width: 8rem;
  right: -25px;
}

.personal {
  margin-top: 5rem;
}

.personal-title-wrapper {
}

.personal-title {
  width: 90%;
  margin: auto;
  background: white;
  padding: 20px;
  font-size: 1.2rem;
}

.personal-content-wrapper {
  background: white;
}

.personal-content {
  font-size: 0.8rem;
  padding-top: 2rem;
  text-align: left;
  padding: 2rem;
}

.divider {
  border: 0.2px solid rgb(60, 88, 139);
  width: 90%;
  margin: auto;
}

.reserve-wrapper {
  position: relative;
  margin-top: 2rem;
}

.reserve-content-wrapper {
  position: absolute;
  color: white;
  font-weight: bold;
  top: 0;
  left: 0;
  text-align: left;
}

.reserve-content {
  padding: 30px 30px 0;
}

.reserve-button-wrapper {
  position: absolute;
  bottom: 22px;
  right: 0;
  color: white;
  left: 0;
}

.reserve-button {
  display: block;
  margin: auto;
  width: 12rem;
  padding: 10px !important;
  text-align: center;
  letter-spacing: 0.1rem;
  text-decoration: none;
  border: 4px solid white;
  color: white !important;
  font-weight: bold;
}

.link-area-wrapper {
  margin-top: 2rem;
}

.link-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-image-wrapper {
  padding: 2px;
}

.link-image {
  width: 11rem;
}

.company-wrapper {
  margin-top: 2rem;
}

/* スマートフォン向けCSS */
@media (max-width: 767px) {
  /* 全体 - ナビゲーション */

  .logo {
    padding: 1rem;
  }
  .logo img {
    width: 200px;
  }
  .nav {
    background-color: #ebd7d5;
  }
  .nav li {
    display: block;
    font-size: 90%;
  }

  /* menu.html - 横並び解除 */
  .menu-item {
    display: block;
  }
  .menu-photo {
    margin-right: 0;
    width: 100%;
  }
  .menu-text {
    width: 100%;
  }

  /* about.html - 画像のパディングを調整 */
  .shop-photo {
    padding-right: 0;
  }
}

.guest-wrapper {
  background: white;
  position: relative;
}

.guest-title {
  width: 90%;
  margin: auto;
  font-size: 2em;
  text-align: left;
  padding-top: 2rem;
}

.guest-image {
  position: absolute;
  top: -45px;
  width: 8rem;
  right: 15px;
}

.guest-content-wrapper {
  width: 90%;
  margin: auto;
}

.face-wrapper {
  display: flex;
  align-items: center;
}

.customer-image {
  width: 80%;
}

.arrow {
  position: relative;
  width: 20px;
  margin: 0 auto;
}
.arrow::before {
  animation: arrow 2s infinite;
  border: solid #333;
  border-width: 0 0 5px 5px;
  content: "";
  margin: auto;
  position: absolute;
  top: -41px;
  left: -40px;
  transform: rotate(-135deg);
  width: 16px;
  height: 16px;
}
.att {
  font-size: 16px;
  font-weight: bold;
  color: #ff0000;
}
@keyframes arrow {
  0% {
    transform: rotate(-135deg) translate(0, 0);
  }
  60% {
    transform: rotate(-135deg) translate(-30px, 30px);
  }
  0%,
  60%,
  100% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}

.line-wrapper {
  margin-top: 2rem;
}

.line-wrapper {
  position: relative;
}

.line {
  background: #fffafc;
  padding: 20px;
  width: 35%;
}

.line-image {
  width: 80%;
  padding: 10px;
}

.line-title {
  background: #fffafc;
  padding: 20px;
  width: 85%;
  height: 22rem;
}

.line-message-other {
  width: 80%;
  padding: 10px;
  position: absolute;
  top: 93px;
  left: 70px;
}

.line-title-image {
  position: absolute;
  left: 11px;
  top: 21px;
  width: 20%;
}

/* スクロールCSS */
.fade-in {
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 50px);
}

.fade-in-down {
  transform: translate(0, -50px);
}

.fade-in-left {
  transform: translate(-100px, 0);
}

.fade-in-left-delay {
  transition-delay: 0.5s;
}

.fade-in-right {
  transform: translate(50px, 0);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.profile-content-wrapper {
  width: 80%;
  height: 24rem;
  margin: auto;
}

.profile-wrapper {
  position: relative;
}

.profile-content {
  font-size: 0.6rem;
  text-align: left;
  margin-top: 2rem;
}

.profile-name {
  text-align: left;
  font-size: 2rem;
  padding: 10px 0 0;
}

.profile-sub-name {
  font-size: 0.6rem;
  text-align: left;
  padding-left: 5px;
}

.nav {
  display: none;
}
/*ハンバーガーメニューの設定*/
#nav-drawer {
  color: #000;
  z-index: 999;
}
.nav-unshown {
  /*チェックボックス等は非表示に*/
  display: none;
}
#nav-open {
  /*アイコンのスペース*/
  /* display: inline-block;
  width: 50px;
  margin: 20px 20px 0 0; */
}
.menu-trigger {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 1px solid #333;
  color: #333;
  position: relative;
}
/*ハンバーガーアイコンをCSSだけで表現*/
.menu-trigger.close .bar-top {
  transform: translate(-50%, 6px) rotate(45deg);
  transition: transform 0.3s;
}

.menu-trigger.close .bar-middle {
  opacity: 0;
  transition: opacity 0.3s;
}

.menu-trigger.close .bar-bottom {
  transform: translate(-50%, -8px) rotate(-45deg);
  transition: transform 0.3s;
}

.menu-icon {
  height: 50%;
  width: 55%;
  margin: auto;
  padding-top: 8px;
}

.button-title {
  font-size: 5px;
  margin-top: 7px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  position: fixed;
  z-index: 99;
  top: 0; /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}
/*ハンバーガーメニュー展開後の中身*/
.nav-content {
  overflow: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999; /*最前面に*/
  width: 100%;
  height: 89%;
  background: #f7f7f7; /*背景色*/
  transition: 0.3s ease-in-out; /*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%); /*左に隠しておく*/
}

.close.icon:before {
  content: "";
  position: absolute;
  top: 10px;
  width: 21px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close.icon:after {
  content: "";
  position: absolute;
  top: 10px;
  width: 21px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*チェックが入った後の表示*/
/* #nav-input:checked ~ #nav-close {
  display: block; 
  opacity: 0.5;
} */
.nav-content.close {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
/*展開後のリストのスタイル*/
.nav-drawerList {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-top: 1rem;
}
.nav-drawerList-item {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-drawerList-item > a {
  display: block;
  padding: 2rem;
}

.bar {
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
}

.bar-top {
  top: 8px;
  transition: transform 0.3s;
}
.bar-middle {
  top: 34%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}
.bar-bottom {
  bottom: 24px;
  transition: transform 0.3s;
}

.bar-text {
  font-size: 0.4rem;
  font-size: 0.4rem;
  position: absolute;
  bottom: 6px;
  right: 0;
  left: 0;
}

.bx-wrapper .bx-controls-direction a {
  display: none;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: white !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: none !important;
  border: 1px solid white;
}
